* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/blackbackgroundmoon.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 500px;
    height: 350px;
}
.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}
.card {
    height: 100%;
    width: 100%;
    position; relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front,
.back {
    height: 350px;
    width: 500px;
    background-color: #0D0E0E;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    background-image: url("./images/blackbackgroundmoon.webp");
    background-repeat: no-repeat;
    background-size: cover;

}
.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
/*
.background {
    width: 500px;
    height: 350px;
    border-radius: 2rem;
    position: absolute;
} */
.back {
    transform: rotateY(180deg);
    padding: 10px 10px;
}
.backOfCardText {
    font-size: 22PX;
    padding: 3px;
}
.oopText {
    color: #7D6E83;
}
.mediaText {
    text-align: center;
    padding-top: 20px;
}
.socialMediaContainer {
    display: flex;
    justify-content: space-between;
    max-width: 500px
    margin: 0 auto;
    background-color: grey;
}
.socialMediaContainer img {
    flex: 1;
    max-width: 150px;
    margin: 0 20px;
}
.socialMediaImage {
    width: 50px;
    height: 50px;
}