<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Brian Palacios</title>
</head>
<body>
<div class="indexBody">
    <div class="container">
        <div class="card">
            <div class="front">
                <h1>Brian Palacios</h1>
                <p>Node | Express | React | MongoDB</p>
                <p>Python | Flask | Machine Learning | Linux</p>
            </div>
            <div class="back">
                <p class="backOfCardText">#&emsp;&emsp;Brian = <span class="oopText">Programmer</span>()</p>
                <p class="backOfCardText">#&emsp;&emsp;Brian.Degree = Bachelor's in Mathematics</p>
                <p class="backOfCardText">#&emsp;&emsp;Brian.Email = b.estpalacios@gmail.com</p>
                <p class="backOfCardText">#&emsp;&emsp;Brian.Lang = [English, Spanish, French]</p>
                <p class="backOfCardText">#&emsp;&emsp;Brian.Describe = Pragmatic</p>
                <p class="backOfCardText mediaText">Media</p>
                <div class="socialMediaContainer">
                    <a href="https://www.linkedin.com/in/brian-palacios-742613231/"><img class="socialMediaImage" src="static/images/linkedInWhiteCircle.png"></a>
                    <a href="https://github.com/BrianEPalacios"><img class="socialMediaImage" src="static/images/githubBlackCircleWhiteCharacter.png"></a>
                    <a href="/portfolio"><img class="socialMediaImage" src="static/images/Portfolio.png"></a>
                    <a href="static/pdfs/Brian_Palacios_Resume.pdf"><img class="socialMediaImage" src="static/images/resumeImage.png"></a>
                    <a href="mailto:b.estpalacios@gmail.com"><img src="static/images/email.png"></a>
                </div>
            </div>
        </div>
    </div>
<!--    <p class="indexCopyright">Copyright Brian Palacios {{ year }}</p>-->
</div>

</body>
</html>