<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Brian Palacios</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="front">
                <h1>Brian Palacios</h1>
                <p>Software Developer</p>
            </div>
            <div class="back">
                <h1>Back of Card</h1>
                <p> Additional info on the back of the card</p>
                <div class="socialMediaContainer">
                    <a href="https://www.linkedin.com/in/brian-palacios-742613231/"><img class="socialMediaImage" src="static/images/linkedInWhiteCircle.png"></a>
                    <a href="https://github.com/BrianEPalacios"><img class="socialMediaImage" src="static/images/githubBlackCircleWhiteCharacter.png"></a>
                    <a href=""><img class="socialMediaImage" src="static/images/Portfolio.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>