<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Brian Palacios</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="front">
<!--                <img class="background image" src="static/images/blackbackground4.jpeg">-->
                <h1>Brian Palacios</h1>
                <p>Node | Express | React | MongoDB</p>
                <p>Python | Flask | Machine Learning | Linux</p>
            </div>
            <div class="back">
                <p class="backOfCardText">1&emsp;Brian = Programmer()</p>
                <p class="backOfCardText">2&emsp;Brian.develop = [Node, Express, React, MongoDB, Python]</p>
                <p class="backOfCardText">3&emsp;Brian.solve = "Problems"</p>
                <p class="backOfCardText">4&emsp;Brian.email = "b.estpalacios@gmail.com"</p>
                <p class="backOfCardText">5&emsp;Brian.number = ###-###-#####</p>
                <p class="backOfCardText"> Media</p>
                <div class="socialMediaContainer">
                    <a href="https://www.linkedin.com/in/brian-palacios-742613231/"><img class="socialMediaImage" src="static/images/linkedInWhiteCircle.png"></a>
                    <a href="https://github.com/BrianEPalacios"><img class="socialMediaImage" src="static/images/githubBlackCircleWhiteCharacter.png"></a>
                    <a href="/portfolio"><img class="socialMediaImage" src="static/images/Portfolio.png"></a>
                    <a href="static/pdfs/Brian_Palacios_Resume.pdf"><img class="socialMediaImage" src="static/images/resumeImage.png"></a>
                    <a><img src="static/images/email.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>