<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Portfolio</title>
</head>
<body class="portfolioBody">
<div class="portfolioBody">
  <h1 class="portfolioHeaderText">Portfolio</h1>
<!--    Making a portfolio layout 1x3-->
    <div class="portfolioContainer">
        <div class="projectCard">
            <img class="projectImage" src="../static/images/keeperApp.png">
            <h2 class="appName"><b>Keeper App</b></h2>
            <p>Project Description</p>
        </div>
        <div class="projectCard">
            <img class="projectImage" src="../static/images/pong.png">
            <h2 class="appName"><b>Pong</b></h2>
            <p>Project Description</p>
        </div>
        <div class="projectCard">
            <img class="projectImage" src="../static/images/passwordManager.png">
            <h2 class="appName"><b>Password Manager</b></h2>
            <p>Project Description</p>
        </div>
    </div>
<!--    end layout-->
    <div class="portfolioContainer">
        <div class="projectCard">
            <img class="projectImage" src="../static/images/duratuffWebsite.png">
            <h2 class="appName"><b>DuraTuff Website</b></h2>
            <p>Project Description</p>
        </div>
        <div class="projectCard">
            <img class="projectImage" src="../static/images/flashcardApp.png">
            <h2 class="appName"><b>Flash Card App</b></h2>
            <p>Object oriented approach to making a flash card app that flips between the French and Enlish words.</p>
        </div>
        <div class="projectCard">
            <img class="projectImage" src="../static/images/Timer.png">
            <h2 class="appName"><b>Timer</b></h2>
            <p>Project Description</p>
        </div>
    </div>
<!--    end layout-->
    <p class="copyright">Copyright Brian Palacios {{ year }}</p>
</div>
</body>
</html>