<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Portfolio</title>
</head>
<body>
<div class="portfolioBody">
  <h1 class="portfolioHeaderText">Portfolio</h1>
<!--    Making a portfolio layout 1x3-->
    <div class="portfolioContainer">
        <div>
            <img class="projectImage" src="../static/images/keeperApp.png">
            <h2><b>Keeper App</b></h2>
            <p>Project Description</p>
        </div>
        <div>
            <img class="projectImage" src="../static/images/pong.png">
            <h2><b>Pong</b></h2>
            <p>Project Description</p>
        </div>
        <div>
            <img class="projectImage" src="../static/images/passwordManager.png">
            <h2><b>Password Manager</b></h2>
            <p>Project Description</p>
        </div>
    </div>
<!--    end layout-->
    <div class="portfolioContainer">
        <div>
            <img class="projectImage" src="../static/images/duratuffWebsite.png">
            <h2><b>DuraTuff Website</b></h2>
            <p>Project Description</p>
        </div>
        <div>
            <img class="projectImage" src="../static/images/flashcardApp.png">
            <h2><b>Flash Card App</b></h2>
            <p>Project Description</p>
        </div>
        <div>
            <img class="projectImage" src="../static/images/Timer.png">
            <h2><b>Timer</b></h2>
            <p>Project Description</p>
        </div>
    </div>
<!--    end layout-->
</div>
</body>
</html>